<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form to do liste</title>
</head>
<body>
    {% csrf_token %}
    Welcome {{e}}

    <form action="/welcome/" method="post">
        {% csrf_token %}
        
        Ajout :
        <input type="text" name="message" placeholder="Ajouter un message dans la To do liste.">
        
        
        <input type="button" onclick="window.location.href = 'todoliste';" value="Ajouter le message">
    </form>

</body>
</html>